@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  background-color: #f8fafd;
  color: #333;
}

/* Dark Mode */
body.dark {
  background-color: #111827;
  color: #f8fafd;
}
